<section class="row" *ngIf="isRequesting">
  <div class="medium-12 columns">
    <my-spinner [isRunning]="isRequesting" [message]="'Processing your order...Please wait'">
    </my-spinner>
  </div>
</section>
<section class="checkout__page" *ngIf="!isRequesting">
  <section class="row">
    <div class="medium-12 small-12 columns end">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a routerLink="/home">Home</a></li>
          <li>
            <span class="show-for-sr">Current:</span>Checkout
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="row">
    <div class="medium-12 small-12 columns end">
      <div class="callout primary" *ngIf="isEmpty()">
        <h3>Oops!</h3>
        <p>Kindly add dishes to the cart to checkout.</p>
      </div>
      <div class="callout alert" *ngIf="error != null">
        <h3>Oops!</h3>
        <p>{{error}}</p>
      </div>
    </div>
  </section>
  <form (ngSubmit)="confirmOrder()" #orderForm="ngForm" *ngIf="!orderSuccess">
  <section class="row" *ngIf="!isEmpty()">
    <div class="medium-6 columns">
      <h2><i class="fa fa-truck"></i> Delivery Details</h2>
      <div class="callout secondary">
        <p>
          Kindly ensure that you have given correct delivery address with postbox number, floor number,
          mobile number and pincode.
          Unless you receive an email or SMS or a phone call from us, <i>Your order will not be processed.</i>
        </p>
      </div>
      <div class="content__container">
        <label for="name">Name
          <input type="text" maxlength="50" name="name" #name="ngModel" [(ngModel)]="order.delivery_details.name" required/>
          <span class="check">
            <em class="fa fa-check"></em>
          </span>
        </label>
        <label for="phone">Phone
          <input type="text" maxlength="10" minlength="10" name="phone" #phone="ngModel" [(ngModel)]="order.delivery_details.phone" required/>
          <span class="check">
            <em class="fa fa-check"></em>
          </span>
        </label>
        <label for="email">Email
          <input type="email" maxlength="200" minlength="3" name="email" #email="ngModel" [(ngModel)]="order.delivery_details.email" required/>
          <span class="check">
            <em class="fa fa-check"></em>
          </span>
        </label>
        <label for="pincode">Pincode
          <input type="text" maxlength="6" minlength="6" name="pincode" #pincode="ngModel" [(ngModel)]="order.delivery_details.pincode" required/>
          <span class="check">
            <em class="fa fa-check"></em>
          </span>
        </label>
        <label for="address">Address
          <textarea maxlength="500" minlength="10" name="address" #address="ngModel" [(ngModel)]="order.delivery_details.address" required></textarea>
          <span class="check">
            <em class="fa fa-check"></em>
          </span>
        </label>
        <label for="landmark">Nearby landmark
          <input type="text" maxlength="50" name="landmark" #landmark="ngModel" [(ngModel)]="order.delivery_details.landmark" />
          <span class="check">
            <em class="fa fa-check"></em>
          </span>
        </label>
        <label for="speed_checkout">
          <input type="checkbox" id="speed_checkout" name="speed_checkout" [(ngModel)]="canSaveDeliveryDetails" />
          Speed checkout next time.
        </label>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="row">
        <div class="medium-12 columns">
          <h2><i class="fa fa-shopping-cart"></i> Order details</h2>
          <div class="content__container">
            <table class="table order_table">
              <tbody>
                <tr *ngFor="let item of order.getItems()">
                  <td>
                    <div class="product_name">
                      <a (click)="removeItem(item)" [class.text-alert]="item.store.isClosed()" title="Remove item from cart!">
                        <i class="fa fa-times-circle"></i>
                      </a>
                      {{item.name}} <br/>
                      <small class="light" *ngIf="item.price_detail && item.price_detail.description && item.price_detail.description.length > 0">
                        {{item.price_detail.description}}
                        <i *ngIf="item.price_detail.discount > 0">{{item.price_detail.discount}}% discount</i>
                      </small>
                      <small class="light" *ngIf="!item.price_detail && item.discount > 0">
                        <i>{{item.discount}}% discount</i><br/>
                      </small>
                      <span class="store_name light"><i>from</i> {{item.store.name}}</span>
                      <br/>
                      <small class="light text-alert" *ngIf="item.store.isClosed()">
                        Currently unavailable!
                      </small>
                    </div>
                  </td>
                  <td class="quantity">
                    <!--<span class="price light">{{item.price}}x</span>-->
                    <a (click)="changeQuantity(item,-1)"><i class="fa fa-minus-square"></i></a>
                    {{item.quantity}}
                    <a (click)="changeQuantity(item,1)"><i class="fa fa-plus-square"></i></a>
                  </td>
                  <td class="price">{{item.getTotalPrice()}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">
                    Subtotal:
                  </td>
                  <td class="total">{{order.getSubTotal()}}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    Delivery Charges:
                  </td>
                  <td class="total">{{order.getDeliveryCharges()}}</td>
                </tr>
                <tr *ngIf="order.coupon_code">
                  <td colspan="2">
                    <a (click)="removeCoupon()" title="Remove applied coupon">
                      <i class="fa fa-times-circle"></i>
                    </a>
                    {{order.coupon_code}}<br/>
                    <small style="font-weight: lighter">coupon applied.</small>
                  </td>
                  <td class="total">{{order.getCouponDiscount()}}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    Total:
                  </td>
                  <td class="total rupee">{{order.getTotalAmount()}}</td>
                </tr>
              </tfoot>
            </table>
            <div class="row content__container" *ngIf="!order.coupon_code">
              <div class="medium-9 small-9 columns">
                <label for="coupon_code">Have coupon code?
                  <input type="text" [(ngModel)]="coupon_code" name="coupon_code" id="coupon_code" minlength="4" maxlength="20"/>
                  <span class="check">
                    <em class="fa fa-check"></em>
                  </span>
                </label>
              </div>
              <div class="medium-3 small-3 columns end">
                <br/>
                <button type="button" (click)="applyCoupon()" class="button secondary">Apply</button>
              </div>
            </div>
            <div class="callout info" *ngIf="order.getSavingsAmount() > 0">
              You saved <b class="total rupee">{{order.getSavingsAmount()}}</b>
            </div>
            <div class="callout info">
              Minimum delivery charge is Rs. {{order.getMinDeliveryCharges()}} + Rs. {{order.getPerStoreDeliveryCharges()}}
              for each additional restaurants. For example, ordering dishes from 3 restaurants is calculated
              as <strong>{{order.getMinDeliveryCharges()}} + {{order.getPerStoreDeliveryCharges()}}*2=Rs. {{order.getMinDeliveryCharges() + 2*order.getPerStoreDeliveryCharges()}}</strong>
            </div>
          </div>
          <div class="callout alert" *ngIf="!order.isValid()">
            <p>There are some dishes that are presently became unavailable. Kindly remove them to proceed.
            This may occur if you have added the dish while the store was open but before completing the
            checkout process.</p>
            <p>For assistance or any queries, kindly call us on +91 7373730484</p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="medium-12 columns">
            <h2><i class="fa fa-credit-card"></i> Payment Details</h2>
            <div class="callout primary">
              <div>
                <label>
                  <input name="payment_type" type="radio" [(ngModel)]="order.payment_type" value="cod"/>
                  Cash On Delivery
                </label>
              </div>
              <div>
                <label>
                  <input name="payment_type" type="radio" [(ngModel)]="order.payment_type" value="paytm"/>
                  Paytm
                </label>
              </div>
              <div *ngIf="feature.onlinePaymentEnabled()">
                <label>
                  <input name="payment_type"  type="radio" [(ngModel)]="order.payment_type" value="payumoney"/>
                  Credit/Debit Card, Net Banking
                </label>
              </div>
              <div class="callout" *ngIf="order.payment_type==='payumoney'">
                Note we will redirect you to PayUMoney payment gateway to do the online transaction.
                After successful transaction you will be redirected back to foodbeazt
              </div>
              <div class="callout" *ngIf="order.payment_type==='paytm'">
                Scan/Upload the QR code shown in the next page in your Paytm mobile app
                and enter the exact order amount to complete the payment. Your order will be cancelled
                if we do not receive the payment via Paytm within 30 minutes.
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="medium-12 columns">
      <div class="align-center">
        <button type="button" (click)="resetOrder()" class="button secondary">Cancel</button>
        <button type="submit" class="button primary" [disabled]="!orderForm.form.valid || !order.isValid()">
          Confirm
        </button>
      </div>
    </div>
  </section>
  </form>
</section>

<form method="post" ngNoForm action="{{payment_url}}">
  <input type="hidden" name="order_no" #ordernotxt value="{{order.order_no}}" />
  <input type="submit" class="hidden" #payubutton id="payubutton"/>
</form>
