<br/>
<div class="row" *ngIf="isRequesting">
  <div class="medium-12 columns">
    <my-spinner [isRunning]="isRequesting" [message]="'Loading your order...Please wait'">
    </my-spinner>
  </div>
</div>
<section class="order__success" *ngIf="!isRequesting">
  <div class="row">
    <div class="medium-12 small-12 columns">
      <div class="callout success">
        <h3>Thanks {{order.delivery_details.name}},</h3>
        <p *ngIf="order.payment_type!=='paytm'">
          Your order is confirmed, kindly note the order number for further reference <b>{{order.order_no}}</b>.
          An order confirmation email is on the way to your inbox.
        </p>
        <div class="callout" *ngIf="order.payment_type==='paytm'">
            Your order is on hold, kindly note the order number for further reference <b>{{order.order_no}}</b>.
            <br/>
            Scan/Upload the QR code shown below in the next page in you Paytm mobile app
            and enter the exact order amount <b>Rs.{{order.total}}</b> to complete the confirmation of your order.
            Your order will be cancelled if we do not receive exact payment via Paytm within 30 minutes.
        </div>
        <div class="text-center aligncenter" *ngIf="order.payment_type==='paytm'">
          <a href="/images/FoodBeazt-Paytm-QRCode.jpg" download title="Click to download the Paytm QR code">
            <img src="/images/FoodBeazt-Paytm-QRCode.jpg" alt="Paytm QR Code"/>
          </a>
        </div>
        <p *ngIf="order.payment_type!=='paytm'">
          Enjoy your gourment meal!
        </p>
        <p>
          <a [routerLink]="['/track',{'order_no':order.order_no}]">Click here</a> to track this order status
        </p>
        <p>
          Or <a [routerLink]="['/home']">Continue</a> shopping.
        </p>
      </div>
    </div>
    <div class="medium12 columns">
      <h4>Feedback</h4>
      <p>
        Your feedback is valuable to us. We always like to serve you better. If you have any suggestions
        or compliants kindly write to us on <a href="mailto:foodbeazt@gmail.com">foodbeazt@gmail.com</a> or call us at +91 7373730484.
      </p>
    </div>
  </div>
  <faq></faq>
</section>
