<br/>
<div class="row" *ngIf="isRequesting">
  <div class="medium-12 columns">
    <my-spinner [isRunning]="isRequesting" [message]="'Loading your order...Please wait'">
    </my-spinner>
  </div>
</div>
<section class="order__success" *ngIf="!isRequesting">
  <div class="row">
    <div class="medium-12 small-12 columns">
      <div class="callout success">
        <h3>Thanks {{order.delivery_details.name}},</h3>
        <p>
          Your order is successfull, kindly note the order number for further reference <b>{{order.order_no}}</b>.
          An invoice email is on the way to your inbox.
        </p>
        <p>
          Enjoy your gourment meal!
        </p>
        <p>
          <a [routerLink]="['/track',{'order_no':order.order_no}]">Click here</a> to track this order status
        </p>
        <p>
          Or <a [routerLink]="['/home']">Continue</a> shopping.
        </p>
      </div>
    </div>
    <div class="medium12 columns">
      <h4>Feedback</h4>
      <p>
        Your feedback is valuable to us. We always like to serve you better. If you have any suggestions
        or compliants kindly write to us on <a href="mailto:foodbeazt@gmail.com">foodbeazt@gmail.com</a> or call us at +91 7373730484.
      </p>
    </div>
  </div>
  <faq></faq>
</section>
