<div class="callout alert" *ngIf="errorMsg != null">
  <h4>Oops! Something went wrong.</h4> {{errorMsg}}
</div>
<section class="row search__container">
  <div class="medium-12 small-12 columns end">
    <form #searchForm="ngForm">
      <div class="input-group">
        <span class="input-group-label show-for-medium">
        <i class="fa fa-home"></i> Puducherry
      </span>
        <span class="input-group-label icon">
        <i class="fa fa-search"></i>
      </span>
        <input class="input-group-field" type="search" name="searchCtrl" placeholder="Restaurant or dish or cuisine..." [ngModel]="searchText" [ngFormControl]="searchCtrl">
        <div class="input-group-button">
          <button type="submit" class="button">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="medium-6 columns end">
    <i class="fa fa-filter"></i> Filter:
    <label class="lblOV">
      Veg:
      <input #lblOV type="checkbox" [checked]="onlyVeg"
       (change)="onlyVeg=lblOV.checked;search()">
    </label>
    <label class="lblOO">
      Open:
      <input #lblOO type="checkbox" [checked]="onlyOpen"
       (change)="onlyOpen=lblOO.checked;search()">
    </label>
  </div>
</section>
<section class="row" *ngIf="searchText == null || searchText.length == 0">
  <div class="medium-6 small-12 columns">
    <popular-stores></popular-stores>
  </div>
  <div class="medium-6 small-12 columns">
    <h4>App Features</h4>
    <ul>
      <li><i class="fa fa-bolt"></i> Super fast ordering</li>
      <li><i class="fa fa-cutlery"></i> Multi-restaurant dishes in single order</li>
      <li><i class="fa fa-map-marker"></i> Live tracking</li>
      <li><i class="fa fa-truck"></i> Super fast delivery</li>
      <li *ngIf="feature.onlinePaymentEnabled()"><i class="fa fa-lock"></i> Secure online payment</li>
    </ul>
  </div>
  <section class="row" *ngIf="(searchText == null || searchText.length == 0) && isRequesting">
    <div class="medium-12 columns">
      <my-spinner [isRunning]="isRequesting"></my-spinner>
    </div>
  </section>
  <div class="medium-12 small-12 columns end" *ngIf="!isRequesting">
    <h3>Popular items</h3>
    <div *ngIf="showList">
      <product-list [products]="popular_dishes" (selectedProduct)="addToCart($event)"></product-list>
    </div>
    <div *ngIf="!showList">
      <product-grid [products]="popular_dishes" (selectedProduct)="addToCart($event)"></product-grid>
    </div>
  </div>
</section>
<section class="row" *ngIf="searchText && searchText.length < 3">
  <div class="medium-12 small-12 columns end">
    <div class="callout primary">
      <p>Atleast enter 3 letters to begin the search!</p>
    </div>
  </div>
</section>
<section class="row" *ngIf="searchText && searchText.length > 2 && !isRequesting">
  <div class="medium-12 small-12 columns end">
    <ul class="tabs">
      <li class="tabs-title" [class.active]="activeTab =='Restaurant'">
        <a (click)="activateTab('Restaurant')">Restaurants</a>
      </li>
      <li class="tabs-title" [class.active]="activeTab =='Product'">
        <a (click)="activateTab('Product')">Dishes</a>
      </li>
    </ul>
    <div class="tabs-content">
      <div class="content" *ngIf="activeTab =='Restaurant'">
        <restaurants [responseData]="storeSearchResponse" [isRequesting]="isRequesting" (onPaginate)="searchRestaurants($event)"></restaurants>
      </div>
      <div class="content" *ngIf="activeTab =='Product'">
        <div *ngIf="showList">
          <product-list [products]="products" (selectedProduct)="addToCart($event)"></product-list>
        </div>
        <div *ngIf="!showList">
          <product-grid [products]="products" (selectedProduct)="addToCart($event)"></product-grid>
        </div>
      </div>
    </div>
  </div>
</section>
