<div class="summary" ng-controller="cartCtrl">
    <div class="bubble">
        <h3>Order Summary</h3>

        <div class="pull-right" style="position:absolute;right:5px;top:2px;">
            <a href title="Click to reset this order" ng-click="resetOrder()">
                <i class="fa fa-times-circle"></i>
            </a>
        </div>

        <div class="section items-list">
            <table>
                <thead>
                <tr>
                    <th colspan="2">Items</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cart.items">
                    <td>
                        <a href class="text-danger" ng-click="removeItem(item._id.$oid)"
                           title="Click to remove this item"><i
                                class="fa fa-minus-square"></i></a>
                        {{item.name}}
                    </td>
                    <td class="text-right">{{item.quantity}}x&nbsp;&nbsp;&nbsp;&nbsp;{{item.sell_price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="section items-list" ng-show="cart.items.length > 0">
            <table>
                <tbody>
                <tr>
                    <td>Delivery charges
                        <a href data-toggle="tooltip" id="deliveryTooltip"
                           data-placement="bottom"
                           title="Free delivery if the order amount is greater than {{min_order_amount}}">
                            <i class="fa fa-info-circle text-info"></i>
                        </a>
                    </td>
                    <td class="text-right"><span ng-bind-html="cart.delivery_charges | currency"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="section total">
            <ul>
                <li>Total</li>
                <li class="price"><span ng-bind-html="cart.total | currency"></span></li>
            </ul>
        </div>
        <div class="session continue" ng-show="canShowContinueBtn()">
            <button class="btn btn-success" ng-click="continueOrder()" type="button"
                    title="Click to continue with this order summary">Continue
                >>
            </button>
        </div>
    </div>
</div>