<div class="container" ng-controller="confirmOrderCtrl">
    <h2>Delivery Details</h2>

    <form role="form" name="frmCustomerDetails" ng-submit="continueContactDetails()" class="form-horizontal">

        <h4>Contact</h4>

        <div class="row">
            <div class="medium-6 columns">
                <label for="name">Name
                    <input class="form-control" type="text" name="name" id="name"
                    ng-class="{ 'danger' : frmCustomerDetails.name.$invalid && !frmCustomerDetails.name.$pristine }"
                    ng-model="cart.customer.name" required/>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <label for="email">Email
                    <input class="form-control" type="email" name="email" id="email" ng-model="cart.customer.email"
                    required/>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <label for="mobile">Mobile
                    <input class="form-control" type="text" maxlength="10" name="mobile" id="mobile"
                    ng-model="cart.customer.mobile"/>
                </label>
            </div>
        </div>

        <h4>Address</h4>

        <div class="row">
            <div class="medium-6 columns">
                <label for="street">Door No. &amp; Street. Name
                    <input type="text" class="form-control" id="street"
                    ng-model="cart.customer.street" required/>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <label for="area">Area
                    <input type="text" id="area" class="form-control"
                    ng-model="cart.customer.area"
                    required/>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <label for="landmark">Landmark
                    <input type="text" id="landmark" class="form-control"
                    ng-model="cart.customer.landmark"
                    required/>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <label for="pincode">Pincode
                    <input type="text" id="pincode" class="form-control"
                    ng-model="cart.customer.pincode"
                    required/>
                </label>
            </div>
        </div>

        <a href="#/" class="button">Back to Shopping</a>
        <button type="submit" class="button success">
            Continue
        </button>
    </form>
</div>



