<div ng-controller="searchResultCtrl">
    <div ng-show="items.length == 0" class="alert alert-info">
        <p>Oops! No items found for this search. Kindly modify your search</p>
    </div>
    <div class="row" ng-show="items.length > 0">
        <div class="medium-3 columns text-center" ng-repeat="item in items">
            <h4>{{item.name}}</h4>
            <a href="#/detail/{{item.store_id.$oid}}/{{item._id.$oid}}"
               title="Click to view '{{item.name}}' details">
                <img class="thumbnail img-responsive" width="175"
                     ng-src="{{item.image_url | default_product_img}}"/>
            </a>
            <h4 ng-bind-html="item.sell_price | currency"></h4>
            <button type="button" class="btn btn-lg btn-block btn-default" ng-click="addToCart(item._id.$oid)"
                    title="Add to cart">
                <i class="fa fa-plus"></i>&nbsp;Add to cart
            </button>
        </div>
    </div>
    <div class="row">
        <button type="button" class="button" ng-click="loadMore()">Load more...</button>
    </div>
</div>
