<div ng-controller="reviewCtrl">
    <h2>Review &amp; Confirm</h2>

    <div class="row" ng-show="cart.items.length == 0">
        <div class="medium-12 columns alert-box warning">
            No items in your cart.
        </div>
    </div>
    <div ng-repeat="item in cart.items">
        <div class="row review__item">
            <div class="medium-3 columns">
                <a href="#/detail/{{item.store_id.$oid}}/{{item._id.$oid}}"
                title="Click to view '{{item.name}}' details">
                <img class="thumbnail img-responsive" ng-src="{{item.image_url | default_product_img}}"/></a>
            </div>
            <div class="medium-4 columns">
                {{item.name}}
            </div>        
            <div class="medium-1 columns text-right">
                <input type="text" ng-model="item.quantity" disabled="disabled" />
            </div>
            <div class="medium-1 columns">
                <a href class="text-danger" ng-click="removeItem(item._id.$oid)">
                    Remove
                </a>
            </div>
            <div class="medium-3 columns text-right review__item__price">
                <span ng-bind-html="item.sell_price*item.quantity | currency"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="medium-6 columns">
            <h3>Delivery details</h3>
            <div class="row">
                <div class="medium-6 columns">
                    <label>Name</label> <span>{{cart.customer.name}}</span>
                    <label>Email</label> <span class="review__customer__email">{{cart.customer.email}}</span>
                    <label>Mobile</label> <span>{{cart.customer.mobile}}</span>
                </div>
                <div class="medium-6 columns end">
                    <label>Address</label>
                    {{cart.customer.street}},<br/>
                    {{cart.customer.area}},<br/>
                    {{cart.customer.landmark}},<br/>
                    {{cart.customer.pincode}}<br/>
                </div>
            </div>
        </div>
        <div class="medium-6 columns">
            <div class="row">
                <div class="medium-12 columns text-right">
                    <label class="review__item__label">Delivery charges</label>
                    <span class="review__item__price" ng-bind-html="cart.delivery_charges | currency"></span>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns text-right">
                    <label class="review__item__label">Total</label>
                    <span class="review__item__total" ng-bind-html="cart.total | currency"></span>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="medium-6 columns text-right">
            <a href="#/" ng-click="location.path('/')" class="button info">Back to Shopping</a>
        </div>
        <div class="medium-6 columns">
            <button type="button" class="button" ng-click="confirmOrder()" ng-disabled="cart.items.length == 0">Place order</button>
        </div>
    </div>
</div>