h2{
  font-family: "ITC Avant Garde Gothic W01";
}

.alert-box.success {
  background-color: #DEFFE3;
  border-color: #3a945b;
}

.icon__shopping_cart{
  color: #00B2FF;
  padding-right: 35px !important;
  position: relative;
  background-image: none !important;
  width: 24px;
  height: 24px;
}

.cart_items{
  position: absolute;
  top: -8px;
  right: 0px;
}

.product-item{
  border: 3px solid transparent;
}

.product-item:hover{
  border: 3px solid yellow;
}

.product-name{
  text-align: left;
  font-size: 1.246em;
  margin: 10px 0 3px 0px;
  border-bottom: 1px solid rgba(76, 76, 76, 0.4);
}

.product-price{
  text-align: left;
  font-weight: bold;
  font-size: 1.246em;
  margin: 0 0 10px 0px;
}

.product-image{
  margin-top: 10px;
}

.back__button{
  display: inline;
  position: absolute;
  right: 15px;
}

.cart-empty-msg{
  font-size: 14px;
  font-style: normal;
}

.checkout__button{
  padding: 12px 0;
}

.checkout__button a{
  color: #fff;
  font-weight: bold;
}

.checkout__button .fa-check{
  color: #38AB00;
}

.review__item {
  margin-top: 10px !important;
  padding-bottom: 10px;
  border-bottom:1px solid rgba(22, 135, 197, 0.56);
}

.review__item__price,
.review__item__total{
  font-family: "ITC Avant Garde Gothic W01";
}

.review__item__price{
  font-size: 1.764em;
}

.review__item__total{
  font-size: 2.2em;
  font-weight: bold;
}

.review__item__label{
  font-size: 1.124em;
  line-height: 15px;
  margin-top: 15px;
}

.header__logo{
  height: 75px;
}

#order__success__container h2{
  margin-bottom: 0px;
}

.confirm__customer__email{
  color: rgb(255, 68, 0);
  font-weight: bold;
  font-size: 1.1em;
}

.review__customer__email{
  color: #38607E;
  font-weight: bold;
}

.confirm__order__no{
  font-weight: bold;
  font-size: 1.1em; 
  letter-spacing: 3px;
  background-color: lightyellow;
}

.processing__logo{
  padding-top: 20%;
}

.delivery__container input[type=text],
.delivery__container input[type=email]{
  border: none;
  border-bottom: 1px solid #a3a3a3;
  box-shadow: none;
}

.delivery__container input[type=text]:focus,
.delivery__container input[type=email]:focus{
  border-bottom: 1px solid #4CCBFE;
}

span.error, small.error {
  background: #F37560 none repeat scroll 0% 0%;
  color: #FFF;
}

label.error > input[type=text],
label.error > input[type=email]{
  background: rgba(243, 117, 96, 0.22) none repeat scroll 0% 0%;
}