<header>
  <cart-summary></cart-summary>
  <label for="track" class="show-for-medium">
    <a routerLinkActive="active" routerLink="track">
      <i class="fa fa-motorcycle"></i> Track
    </a>
  </label>
  <div class="logo">
    <a routerLinkActive="active" routerLink="home"><i class="fa fa-leaf"></i> Foodbeazt</a>
  </div>
</header>
<section id="main">
  <router-outlet></router-outlet>
</section>
<footer>
  <ul>
    <li><a routerLinkActive="active" routerLink="track">Track Order</a></li>
    <li><a routerLinkActive="active" routerLink="faq">FAQ</a></li>
    <li><a routerLinkActive="active" routerLink="terms_of_use">Terms of use</a></li>
    <li><a routerLinkActive="active" routerLink="contact_us">Contact Us</a></li>
    <!--<li><a routerLinkActive="active" routerLink="about_us">About Us</a></li>-->
    <li>&copy; 2016 <a href="//www.foodbeazt.in">www.foodbeazt.in</a></li>
  </ul>
</footer>
