$primary_color: blue;
$logo_font_size: 1.8em;

$max_width: 960px;

header, #main{
  margin: 0 auto;
  max-width: $max_width;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.breadcrumbs{
  margin: 4px 6px;
}

.top-bar{
  background: #008CBA;
  ul{
    background: #008CBA;
  }
  .menu-text {
    font-size: $logo_font_size;
    a{
      color: white;
    }
  }

  .mobile-cart{
    text-align: right;
    width: 100%;
  }

  .fi-shopping-cart{
    font-size: 2em;
    bottom: -6px;
    position: relative;
  }
  
  .badge{
    position: relative;
    top: -16px;
    right: 10px;
  }
}

#main{
  h2{
    margin: 6px 10px;
  }
}

ul.restaurants{
  list-style: none;
  margin: 0;

  li{
    padding: 0.6em 0;
    border-bottom: 1px solid #eee;
  }
}

.restaurants{
  .title {
    margin: 0;
    margin-bottom: 10px;
  }
}

span.rating{
  float: right;
  // top: 10px;
  // position: relative;
}

.timings, .telephone, .address {
  margin-bottom: 10px;
  font-size: 13px;
  color: #222;
}

.cuisines{
  list-style: none;
  margin: 0;

  li{
    display: inline-block;
    padding: 6px 15px !important;
    margin: 0 6px;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 6px;
    color: #666;
    font-size: 12px;
  }
}

img.header_img{
  margin-bottom: 10px;
}

img.res_logo{
  opacity: 0.35;
}

.card{
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;

  .card-divider{
    padding: 0.6em;
  }
  h4{
    font-weight: bold;
  }
  .price_tag{
    font-size: 16px;
    font-weight: normal;
    float: right;
  }

  .card-action{
    margin: 10px 0;
  }
}

.button.expand{
  width: 100%;
}

.tabs-title{
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  a{
    padding: 12px 18px;
  }
}

.tabs-title.active {
  background: none;
  border-bottom: 3px solid #62bf02;
  a{
    background: none;
    color: #62bf02;
    padding: 12px 18px;
    font-weight: bold;
  }
}

.menu{
  li{
    a{
      padding: 0;
    }
  }
}

.order_table{
  .price, .quantity, .total {
    text-align: right;
  }
  .total{
    font-weight: bold;
  }
}