$primary_color: blue;
$logo_font_size: 36px;

$max_width: 960px;

body{
  font-family: "Open Sans",sans-serif;
  // font-size: 10px;
}

header, #main{
  margin: 0 auto;
  // max-width: $max_width;
}

#main{
  // background-color: #574e21;
  background-color: #f3f3f3;
  min-height: 100%;
  // background-image: url("/images/arabesque.png");
}

.light{
  color: #9ca3a8;
}

.dark{
  color: #46535e;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.align-center{
  text-align: center;
  margin: 0 auto;
}

.breadcrumbs{
  margin: 4px 6px;
}

.top-bar{
  background: #162c3f;
  height: 70px;
  ul{
    background: #162c3f;
    display: table;
    height: 100%;
  }
  a{
    color: white;
  }
  .menu-text {
    font-size: $logo_font_size;
  }
  .fi-marker{
    font-size: 32px;
  }

  .mobile-cart{
    text-align: right;
    width: 100%;
  }

  .fi-shopping-cart{
    font-size: 2em;
    bottom: -6px;
    position: relative;
  }

  .badge{
    position: relative;
    top: -16px;
    right: 10px;
  }

  .top-bar-right{
    ul{
      margin-right: 1em;
      li{
        padding-right: 1em;
      }
    }
  }
}

#main{
  h2{
    margin: 6px 10px;
  }
}

.restaurants{
  .row{
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    position: relative;
    min-height: 80px;
    margin: 20px 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
    -moz-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
    box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);

    .columns{
      padding: 0;
      &:first-child{
        padding-right: 0.9375rem;
      }
    }
  }
}

.title {
  margin: 0;
  margin-bottom: 10px;
  // font-size: 26px;
  font-weight: 600;
}

span.rating{
  float: right;
  // top: 10px;
  // position: relative;
}

.timings, .telephone, .address {
  margin-bottom: 10px;
  font-size: 13px;
}

.cuisines{
  list-style: none;
  margin: 0;

  li{
    display: inline-block;
    padding: 6px 15px !important;
    margin: 0 6px;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    background-color: #fff;
    &:first-child{
      margin: 0;
    }
  }
}

img.header_img{
  margin-bottom: 10px;
  width: 100%;
}

img.res_logo{
  opacity: 0.35;
}

.card{
  display: inline-block;
  vertical-align: top;
  width: 226px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  min-height: 320px;
  margin: 10px 0 7px 10px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
  -moz-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
  box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);

  img{
    width: 100%;
    height: 140px;
    background: #e5e7e8;
    background-size: cover;
    background-position: top center;
    position: relative;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }

  .card-divider{
    padding: 0.6em;
  }
  .card-section{
    min-height: 50px;
  }

  h4{
    font-weight: 600;
  }

  .cuisines{
    margin: 0 10px;
  }

  .price_tag{
    font-size: 16px;
    font-weight: normal;
    float: right;
  }

  .card-action{
    margin: 10px 0;
    .button{
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      width: 75%;
      border: 1px solid #4c9cdf;
      color: #4c9cdf;
      background: 0;
      margin: 0;

      &:hover{
        color:#fff;
        background: #4c9cdf;
      }
    }
  }
}

.button.expand{
  width: 100%;
}

.tabs-title{
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  a{
    padding: 12px 18px;
  }
}

.tabs-title.active {
  background: none;
  border-bottom: 3px solid #62bf02;
  a{
    background: none;
    color: #62bf02;
    padding: 12px 18px;
    font-weight: bold;
  }
}

.tabs-content{
  .content{
    padding-top: 1em;
  }
}

.menu{
  li{
    a{
      padding: 0;
    }
  }
}

.order_table{
  .price, .quantity, .total {
    text-align: right;
  }
  .total{
    font-weight: bold;
  }
}

.inline-label {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 1rem;
}

.inline-label > input,
.inline-label > select {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
}

label > .inline-label {
  margin-top: 0.5rem;
}

.inline-label > a,
.inline-label > button,
.inline-label > input[type="button"],
.inline-label > input[type="submit"] {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  border-radius: 0;
}

.veg__icon{
  color: green;
  font-style: normal;
}

.veg__icon:after{
  content: "⊡";
}
