@import "compass/css3";

.track__order__page{

  ul{
    margin: 0 auto;
    list-style: none;
    width: 100%;
    text-align: center;

    li{
      display: inline-block;
      margin: 10px 45px;
      line-height: 4em;
      color: #607d8b;
      i{
        @include transition(all 0.5s);
        font-size: 5em;
        display: block;
      }
      &.progress{
        color: #fbc53c;
        height: auto;
        background-color: transparent;
      }
      &.done{
        color: #55b559;
      }
    }
  }
}
