@import "compass/css3";

.track__order__page{
  // background: rgba(242, 195, 74, 0.7);
  background: #607d8b;
  min-height: 100%;
  color: white;

  ul{
    margin: 0 auto;
    list-style: none;
    width: 100%;
    text-align: center;

    li{
      display: inline-block;
      margin: 10px 45px;
      line-height: 4em;
      color: #dcdcdc;

      i{
        @include transition(all 0.5s);
        font-size: 5em;
        display: block;
      }
      &.progress{
        color: #FFDD1B;
        height: auto;
        background-color: transparent;
      }
      &.done{
        color: #B6FF00;
      }
    }
  }
}
