<section class="row" *ngIf="isRequesting">
  <div class="medium-12 columns">
    <my-spinner [isRunning]="isRequesting"></my-spinner>
  </div>
</section>
<div *ngIf="!isRequesting && restaurant">
  <div class="callout alert" *ngIf="errorMsg != null">
    <h4>Oops! Something went wrong.</h4> {{errorMsg}}
  </div>
  <section class="row">
    <div class="medium-12 small-12 columns end">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a routerLink="/home">Home</a></li>
          <!--<li><a (click)="goBack('RestaurantList', $event)">Restaurants</a></li>-->
          <li>
            <span class="show-for-sr">Current:</span>{{restaurant.name}}
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <div class="row">
    <div class="medium-12 columns">
      <section class="restaurants details">
        <div class="row">
          <div class="medium-6 small-12 columns end">
            <img src="{{restaurant.getImage() || '/images/placeholder.png'}}" alt="{{restaurant.name}}" class="header_img show-for-small-only" />
            <div class="content">
              <h3 class="title dark">
                {{restaurant.name}}
                <span class="rating" title="Rating not available!">
                  <!--<label class="secondary label">{{restaurant.getRating()}}</label>-->
                  <i class="fa fa-star-o"></i>
                </span>
              </h3>
              <div class="address"><i class="fa fa-map-marker"></i> {{restaurant.address}}</div>
              <!-- <div class="telephone"><i class="fa fa-telephone"></i> {{restaurant.phone}}</div> -->
              <div class="timings">
                <span><i class="fa fa-hourglass-o"></i>
                  {{restaurant.getFormattedStoreTimings()}}
                  <span class="light green" *ngIf="!restaurant.isHoliday() && restaurant.isOpen()">(Open)</span>
                <span class="light red" *ngIf="!restaurant.isHoliday() && restaurant.isClosed()">
                    (Closed?)
                  </span>
                <span class="light red" *ngIf="restaurant.isHoliday()">(Holiday)</span>
                </span>
              </div>
              <div class="holidays" *ngIf="restaurant.holidays.length>0">
                Holidays: {{restaurant.holidays.join(', ')}}
              </div>
              <div class="">
                <small>Cuisines:</small>
                <ul class="cuisines">
                  <li *ngFor="let cus of restaurant.cuisines">
                    <span class="cusines">{{cus}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="medium-6 columns show-for-medium">
            <img src="{{restaurant.getImage() || '/images/placeholder.png'}}" alt="{{restaurant.name}}" class="header_img" />
          </div>
        </div>
      </section>
      <br/>
      <section class="products">
        <div class="row filter__container">
          <form (submit)="filter()">
          <div class="medium-9 small-12 columns">
              <div class="input-group">
                <input name="searchText" class="input-group-field" type="search" [(ngModel)]="searchText"/>
                <div class="input-group-button">
                  <button name="submitBtn" class="button" type="submit">Search</button>
                </div>
              </div>
          </div>
          <div class="medium-3 columns">
            Only Veg:
            <div class="switch tiny">
              <input class="switch-input" id="onlyVeg" type="checkbox" (change)="filter()" [(ngModel)]="onlyVeg" name="onlyVeg">
              <label class="switch-paddle" for="onlyVeg">
                <span class="show-for-sr">Only Veg:</span>
              </label>
            </div>
          </div>
          </form>
        </div>
        <div class="row">
          <div class="medium-12 small-12 columns end">
            <tabs>
              <tab tabTitle="{{category.name}}" *ngFor="let category of categories">
                <div *ngIf="showList">
                  <product-list [products]="category.products" (selectedProduct)="addToCart($event)"></product-list>
                </div>
                <div *ngIf="!showList">
                  <product-grid [products]="category.products" (selectedProduct)="addToCart($event)"></product-grid>
                </div>
              </tab>
            </tabs>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
