@import "compass";
@import "compass/functions";
@import "variables";

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

body{
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height:$baseline;
}
#unsupported__browser{
  display: none;
  height: 0;
}

.no-localstorage,.no-sessionstorage,.no-boxsizing,.no-history{
  header,footer,#main{
    display: none !important;
    height: 0;
  }
  #unsupported__browser{
    display: table !important;
    position: absolute;
    padding: 20px;
    width: 100%;
    height:100%;
    background: #3E50B4;
    color: white;
    text-align: center;
    margin: 0 auto;
    div{
      display: table-cell;
      vertical-align: middle;
      line-height: normal;
    }
    ul{
      list-style: none;
      margin: 0 auto;
      li{
        display: block;
      }
    }
  }
}

#main{
  margin: 0 auto;
  padding-top: 70px;
  // background-color: #574e21;
  background-color: #f3f3f3;
  min-height: 100%;
  position: relative;
  opacity: 0.99;
  &:after {
    content: "";
    background-image: url("/images/food.png");
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.row{
  max-width: 85em;
}

.light{
  color: $light_color;
  &.green{
    color: #9c0;
  }
  &.red{
    color: #963f3f;
  }
}

.dark{
  color: $dark_color;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.align-center{
  text-align: center;
  margin: 0 auto;
}

.breadcrumbs{
  margin: 4px 6px;
}

.content__container{
  overflow-x: auto;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FFF;
  @include border-radius(0);
  @include box-shadow(0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12));
}

.search__container{
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px 5px;
  min-height: 80px;
  @include border-radius(3px);
  @include box-shadow(0 1px 1px 0 rgba(159,167,194,0.6));

  .switch{
    display: inline-block;
    margin-bottom: 0;
    bottom: -8px;
  }
  label{
    display: inline-block;
  }

  .input-group-label{
    background: #2b303b;
    color: #ccc;
    border: none;
  }

  input[type=search]{
    border: 1px solid #a5ccf3;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 32px;
    // @include border-radius(5px);
    @include transition(background .55s ease);
    &:-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder {
      color: #65737e;
    }
    &:hover,&:active,&:focus{
      outline:none;
      background: #ffffff;
    }
  }
  .icon{
    @include transition(all .55s ease);
    background: transparent;
    color: #4f5b66;
    margin-left: -6px;
    margin-top: 13px;
    position: absolute;
    transition: all 0.55s ease 0s;
    z-index: 1;
  }
}

.filter__container{
  margin-bottom: 10px;

   .switch{
    display: inline-block;
    margin-bottom: 0;
    bottom: -8px;
  }
}

.top-bar{
  background: #162c3f;
  height: 70px;
  ul{
    background: #162c3f;
    display: table;
    height: 100%;
    // width: 100%;
  }
  a{
    color: white;
  }
  .menu-text {
    font-size: $logo_font_size;
  }

  .fi-marker{
    margin: 0;
    vertical-align: baseline;
  }

  .button{
    position: relative;
  }

  .fi-shopping-cart{
    font-size: 1.3333em;
    vertical-align: -10%;
  }

  .cart{
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  .top-bar-left{
    ul{
      width:100%;
    }
  }

  .top-bar-right{
    ul{
      margin-right: 1em;
      li{
        padding-right: 1em;
      }
    }
  }
}

.restaurants{
  &.details{
    .row{
      margin: 0 auto;
      padding: 0em;
      .columns{
        &:first-child{
          padding-right: 0rem;
        }
        .content{
          padding: 0.8em;
        }
      }
    }
  }
  img{
    width: 100%;
    // height: 140px;
    min-height: 223px;
    background: #e5e7e8;
    background-size: cover;
    background-position: top center;
    position: relative;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }
  .row{
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    min-height: 80px;
    margin: 10px 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
    -moz-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
    box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);

    .columns{
      padding: 0;
      &:first-child{
        padding-right: 0.9375rem;
      }
    }
    .content{
      padding: 5px;
    }
  }
  .button{
    margin-top: 1em;
  }
}

.text-alert{
  color: #d22200;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  // font-size: 26px;
  font-weight: 600;
}

span.rating{
  float: right;
  font-size: 16px;
}

.timings, .telephone, .address, .holidays {
  margin-bottom: 10px;
  font-size: 13px;
}

.cuisines{
  list-style: none;
  margin: 0;

  li{
    display: inline-block;
    padding: 6px 15px;
    margin: 0 6px;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    background-color: #fff;
    &:first-child{
      margin: 0;
    }
  }
}

img.res_logo{
  opacity: 0.35;
}

.card{
  display: inline-block;
  vertical-align: top;
  width: 250px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  min-height: 320px;
  margin: 10px 0 7px 10px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
  -moz-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
  box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);

  &.no-min-height{
    min-height: 0;
  }

  img{
    width: 100%;
    height: 140px;
    background: #e5e7e8;
    background-size: cover;
    background-position: top center;
    position: relative;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }

  .align-left{
    text-align: left;
    img{
      height: 90px;
      width: 100px;
      float: left;
      margin-right: 10px;
      @include border-radius(3px);
    }
    select{
      width: auto;
      margin-right: 10px;
    }
    .cuisines li{
      padding: 0 6px 6px;
    }
  }

  .card-section{
    padding: 0.6em;
    min-height: 50px;
    position: relative;
    .center__container{
      position: absolute;
      top: -13px;
      text-align: center;
      left: 45%;
      background: white;
      height: 30px;
      line-height: 18px;
      width: 30px;
      display: inline-block;
      border-radius: 45%;
    }
  }

  h4{
    font-weight: 600;
  }

  .cuisines{
    margin: 0 0px;
    text-transform: capitalize;
    display: inline-block;
    li{
      border: 0;
    }
  }

  .price_tag{
    font-size: 16px;
    font-weight: normal;
  }

  .card-action{
    margin-bottom: 10px;
    .button{
      width: 75%;
      border: 1px solid #4c9cdf;
      color: #4c9cdf;
      background: 0;

      &:hover{
        color:#fff;
        background: #4c9cdf;
      }
      &.inc,&.dec{
        width: 60px;
      }
      &.inc{
        margin-left: 20px;
      }
      &.dec{
        margin-right: 20px;
      }
    }
    .qty__btn__container{
      margin: 0 auto;
    }
  }
}

.button{
  @include border-radius(3px);
  margin: 0;
  @include box-shadow(0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2));

  &.expand{
    width: 100%;
  }

  &.green {
    background: #9c0;
    border: 1px solid #9c0;
    color: #fff;
    &:hover{
      background: #9b0;
      border: 1px solid #9b0;
    }
  }
  &.red {
    background: #963f3f;
    border: 1px solid #963f3f;
    color: #fff;
    &:hover{
      background: #7b3434;
      border: 1px solid #7b3434;
    }
  }
}

.tabs{
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
  border: 0;
  border-top: 1px solid #e5e7e8;
  border-bottom: 1px solid #e5e7e8;
  background: none;
}

.tabs-title{
  text-transform: uppercase;
  a{
    color: $dark_color;
    padding: 13px 10px;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
  }

  &:hover{
    background: 0;
    a{
      background: 0;
    }
  }

  &.active {
    background: #4c9cdf;
    border-bottom: 0;
    position: relative;
    a{
      background: none;
      color: #fff;
    }

    &:after{
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #4c9cdf;
      position: absolute;
      bottom: -8px;
      left: 50%;
      margin-left: -12px;
    }
  }
}

.tabs-content{
  background: 0;
  border: 0;
  .content{
    padding-top: 1em;
  }
}

.menu{
  li{
    a{
      padding: 0;
    }
  }
}

table {
  border: none;
  tbody {
    border: none;
    background: transparent;
    tr:nth-child(even) {
      background-color: transparent;
    }
    tr{
      border-bottom: 1px solid #dcdcdc;
    }
  }
}

.order_table{
  .price, .quantity, .total {
    text-align: right;
  }
  .quantity{
    .price{
      font-size: 12px;
    }
  }
  .total{
    font-weight: bold;
  }
  .store_name{
    font-size: 12px;
  }
}

.inline-label {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 1rem;
}

.inline-label > input,
.inline-label > select {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
}

label > .inline-label {
  margin-top: 0.5rem;
}

.inline-label > a,
.inline-label > button,
.inline-label > input[type="button"],
.inline-label > input[type="submit"] {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  border-radius: 0;
}

.veg__icon{
  font-style: normal;
  &:after{
    content: "\22A1";
  }
  &.green{
    color: green;
  }
  &.brown{
    color: brown;
  }
}

.checkout__page{
  padding-bottom: 20px;
  h2{
    color: $dark_color;
  }
  .callout{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
    -moz-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
    box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);
    &.success{
      border-color: #62b580;
    }
  }
}

.checkout__page, .otp__page, .order__success{
  h2, h4{
    font-weight: 600;
  }
}

ul.faq{
  list-style: none;
  margin: 0 auto;
  li{
    padding: 0.5em 0.6em;
    &.question{
      font-weight: 600;
      color: #fff;
      // background: #162c3f;
      background: #3E50B4;
    }
    &.answer{
      font-size: 14px;
      background: #fff;
      color: $dark_color;
      padding-bottom: 1.24em;
    }
  }
}

@media screen and (min-width: 40em){
  .checkout__page{
    h2{
      font-size: 26px;
    }
    h4{
      font-size: 22px;
    }
  }
}
@media screen and (max-width: 40em) {
  .card{
    width: 97%;
    margin: 7px 5px;
    img{
      height: 180px;
    }
  }
  .checkout__menu{
    width: 100%;
  }
}

.popover{
  background: #333333;
  color: #FFFFFF;
  font-size: 0.77778rem;
  font-weight: normal;
  line-height: 1.3;
  max-width: 300px;
  width: auto;
  padding: 0.66667rem;
  position: absolute;
  z-index: 1006;
  left: 50%;

  .arrow{
    border: solid 5px;
    border-color: #333333 transparent transparent transparent;
    display: block;
    height: 0;
    pointer-events: none;
    position: absolute;
    bottom: -10px;
    width: 0;
    left: 40%;
  }
}

.checkout__menu{
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
  background: #162c3f;
  -webkit-box-shadow: 0 1px 1px 0 rgba(159, 167, 194, 0.6);
  -moz-box-shadow: 0 1px 1px 0 rgba(159, 167, 194, 0.6);
  box-shadow: 0 1px 1px 0 rgba(159, 167, 194, 0.6);
  display: table;
  height: 100%;
  a{
    vertical-align: middle;
    display: table-cell;
  }
}

.rupee{
  &:before{
    content: '\20B9';
  }
}

.spinner__container{
  position: relative;
  .spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
  }
  .content{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 90%;
  }
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

input.hidden{
  display: none;
}

.pagination__container {
  text-align: right;
  padding-right: 1em;
  padding-bottom: 1em;
  display: table;
  margin-left: auto;

  .pagination {
    display: table-cell;
    background: #f3f3f3;
    border: 1px solid #e1e1e1;
    color: $dark_color;
    @include border-radius(20px);
    font-weight: bolder;
    font-size: 18px;

    &:hover{
      background: #2b303b;
      color: $light_color;
    }

    a{
      color: inherit;
      padding: 4px 10px;
      &:hover{
        background: none;
      }
    }

    &.next{
      border-left: none;
      @include border-radius(0px 20px 20px 0px);
    }
    &.previous{
      border-right: none;
      @include border-radius(20px 0 0 20px);
    }

    &.disabled {
      color: $light_color;
      &:hover{
        background: #f3f3f3;
      }
    }
  }
}
