@import "compass";
@import "compass/functions";

.track__order__page{

  ul{
    margin: 0 auto;
    list-style: none;
    width: 100%;
    text-align: center;

    li{
      display: inline-block;
      margin: 10px;
      line-height: 4em;
      color: #607d8b;
      padding: 25px 30px 0px;
      i{
        @include transition(all 0.5s);
        font-size: 5em;
        display: block;
      }
      &.progress{
        color: #fbc53c;
        height: auto;
        background-color: transparent;
        border: 1px solid #fbc53c;
        &.done{
          border: none;
        }
      }
      &.done{
        color: #55b559;
        // border: 1px solid #55b559;
      }
    }
  }
}

.my__orders__page{
  .oitem{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }
}
