<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/foundation-email.css"> </head>
    <link rel="stylesheet" href="/css/app.css"> </head>
  <body>
    <!-- <style> -->
    <table class="body" id="main" data-made-with-foundation="">
      <tr>
        <td class="float-center" align="center" valign="top">
          <center data-parsed="">
            <style type="text/css" align="center" class="float-center">
              body,
              html,
              .body {
                background: #f3f3f3 !important;
              }
              h1{font-weight: bolder;}
              h3.wgt{font-weight: 700;}
              h4.ot{font-weight: lighter;}
            </style>
            <table class="container float-center">
              <tbody>
                <tr>
                  <td>
                    <table class="spacer">
                      <tbody>
                        <tr>
                          <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                  <h1>foodbeazt</h1>
                                  <h3 class="wgt">We got it!</h3>
                                  <h4 class="ot">Order #xxxxx is confirmed.</h4>
                                  <br/>
                                  <p>Hey there,</p>
                                  <p>Giving you a heads up that we have successfully received your order!</p>
                                  <p>It will be processed and sent out for delivery in next 45 minutes.</p>
                                  <p>Check the information below and make sure its correct.</p>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table class="callout">
                                    <tr>
                                      <th class="callout-inner secondary">
                                        <table class="row">
                                          <tbody>
                                            <tr>
                                              <th class="small-12 large-6 columns first">
                                                <table>
                                                  <tr>
                                                    <th>
                                                      <p> <strong>Payment Method</strong><br> Cash On Delivery </p>
                                                      <p> <strong>Email Address</strong><br> thecapn@pirates.org </p>
                                                      <p> <strong>Order ID</strong><br> 239235983749636 </p>
                                                    </th>
                                                  </tr>
                                                </table>
                                              </th>
                                              <th class="small-12 large-6 columns last">
                                                <table>
                                                  <tr>
                                                    <th>
                                                      <p> <strong>Sent to</strong><br>
                                                      Marimuthu R<br>
                                                      123 Maple Rd<br>
                                                      Lawspet,<br/>
                                                      Puducherry 605004</p>
                                                      <p> <strong>Order Date</strong><br> 06 June, 2016 7:03 PM</p>
                                                    </th>
                                                  </tr>
                                                </table>
                                              </th>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </th>
                                      <th class="expander"></th>
                                    </tr>
                                  </table>
                                  <h4>Order Details</h4>
                                  <table>
                                    <tr>
                                      <th>Item</th>
                                      <th>#</th>
                                      <th>Price</th>
                                    </tr>
                                    <tr>
                                      <td>Ship&apos;s Cannon</td>
                                      <td>2</td>
                                      <td>$100</td>
                                    </tr>
                                    <tr>
                                      <td>Ship&apos;s Cannon</td>
                                      <td>2</td>
                                      <td>$100</td>
                                    </tr>
                                    <tr>
                                      <td>Ship&apos;s Cannon</td>
                                      <td>2</td>
                                      <td>$100</td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><b>Subtotal:</b></td>
                                      <td>$600</td>
                                    </tr>
                                  </table>
                                  <hr>
                                  <p>If anything's wrong, simple reply to this email ASAP and let us know what should be changed.</p>
                                  <h4>What&apos;s Next?</h4>
                                  <p>We're just as excited as you are. Check your order status <a href="#">here</a></p>
                                  <br/>
                                  <p>
                                    Bon appetit,<br/>
                                    Foodbeazt Team
                                  </p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row footer text-center">
                      <tbody>
                        <tr>
                          <th class="small-12 large-3 columns first">
                            <table>
                              <tr>
                                <th>
                                  <p> Call us at +91 7373730484<br> Email us at foodbeazt@gmail.com </p>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-3 columns last">
                            <table>
                              <tr>
                                <th>
                                  <p> 123 Maple Rd<br> Puducherry, India 605003 </p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>

</html>
