<header>
  <nav class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><a [routerLink]="['RestaurantList']">Foodbeazt</a></li>
        <li class="show-for-small-only mobile-cart">
          <i class="fi-shopping-cart"></i><label class="success badge">3</label>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu show-for-medium">
        <li><i class="fi-shopping-cart"></i><label class="success badge">3</label></li>
        <li class="">
          <button type="button" class="primary button">
            <span class="chk">Checkout</span>
            <i class="fi-arrow-right"></i>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section id="main">
  <router-outlet></router-outlet>
</section>
