<header>
  <cart-summary></cart-summary>
  <label for="track" class="show-for-medium">
    <a [routerLink]="['TrackOrder',{'order_no':''}]">
      <i class="fa fa-motorcycle"></i> Track
    </a>
  </label>
  <div class="logo">
    <a [routerLink]="['Home']">Foodbeazt</a>
  </div>
</header>
<section id="main">
  <router-outlet></router-outlet>
</section>
<footer>
  <ul>
    <li><a [routerLink]="['TrackOrder',{'order_no':''}]">Track Order</a></li>
    <li><a [routerLink]="['Faq']">FAQ</a></li>
    <li><a [routerLink]="['TermsOfUse']">Terms of use</a></li>
    <li><a [routerLink]="['ContactUs']">Contact Us</a></li>
    <!--<li><a [routerLink]="['AboutUs']">About Us</a></li>-->
    <li>&copy; 2016 <a href="//www.foodbeazt.in">www.foodbeazt.in</a></li>
  </ul>
</footer>
