<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a (click)="goBack('Home')">Home</a></li>
    <li>
      <span class="show-for-sr">Current:</span>Checkout
    </li>
  </ul>
</nav>
<div class="warn info" *ngIf="isEmpty()">
  <h3>Oops!</h3>
  <p>Added items to the cart to checkout :)</p>
</div>
<section class="row" *ngIf="!isEmpty()">
  <div class="medium-12 columns">
    <h2>Delivery Details</h2>
    <div class="callout secondary">
      <p>
        Kindly ensure that you have given correct delivery address with postbox number, floor number,
        mobile number and pincode.
        Unless you receive an email or SMS or a phone call from us, <i>Your order will not be processed.</i>
      </p> 
    </div>
  </div>
  <div class="medium-12 columns">
    <h2>Payment Details</h2>
    <div class="callout primary">
      <p>Presently we accept only <b>Cash On Delivery</b>(CoD).</p>
      <p>Online transactions through Credit/Debit card and NetBanking coming soon...</p> 
    </div>
  </div>
  <div class="medium-12 columns">
    <h2>Review Order</h2>
    <div class="review_restaurant" *ngFor="let store of order.getStores()">
      <h4>{{store.store_name}}</h4>
      <table class="table order_table">
        <tbody>
          <tr *ngFor="let item of order.getItems(store.store_id)">
            <td>
              <p class="product_name">{{item.name}}</p>
              <p class="product_desc">{{item.description}}</p>
            </td>
            <td class="quantity">
              x{{item.quantity}}
            </td>
            <td class="price">
              {{item.price*item.quantity}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="order__total">
      <table class="table order__total">
        <tfoot>
          <tr>
            <td colspan="2">
              Total:
            </td>
            <td class="total">
              Rs. {{order.getTotalAmount()}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="center">
      <button (click)="resetOrder()" class="button secondary">Cancel</button>
      <button (click)="confirmOrder()" class="button primary">Confirm</button>
    </div>
  </div>
</section>
