<section class="contact__page">
  <h3>Feel that tingling in your fingertips?</h3>
  <h3>That's the magnetic urge to contact us.</h3>
  <br/>
  <h1>Call: +91 7373730484</h1>
  <h2>Email: <a href="mailto:foodbeazt@gmail.com">foodbeazt@gmail.com</a></h2>

  <div class="social__icons">
    <ul class="aligncenter">
      <li><a class="fa fa-facebook" href="https://www.facebook.com/foodbeazt" target="_blank"></a></li>
      <li><a class="fa fa-google-plus" href="https://plus.google.com/foodbeazt" target="_blank"></a></li>
      <li><a class="fa fa-twitter" href="https://twitter.com/foodbeazt" target="_blank"></a></li>
    </ul>
  </div>
</section>
