<section class="row">
  <div class="medium-12 columns">
    <h4>Frequently Asked Questions</h4>
    <ul class="faq">
      <li class="question">Do you operate outside Puducherry?</li>
      <li class="answer">NO. But we like to expand our services beyond Puducherry.
        Kindly contact us for more information.
      </li>
      <li class="question">Is Foodbeazt a restaurant which makes food and does online delivery?</li>
      <li class="answer">NO, Foodbeazt is a delivery service. We have tie up's with various
        restaurants in Puducherry. You can view menus of individual restaurants and order
        multiple dishes from multiple restaurants.
      </li>
      <li class="question">Can I cancel the order?</li>
      <li class="answer">Yes you can cancel within 5 minutes of placing the order.</li>
      <li class="question">What is the delivery time?</li>
      <li class="answer">We have a specialized delivery team who make sure to
        get your food as soon as possible. We also requested the restaurants to make this in priority.
        Also it depends on distance between you and the restaurants, weather, traffic conditions,
        restaurants peak time, food availablity, etc., We will make sure to contact you if your order
        is getting delayed. So for now considering these factors the average delivery time would be 45 minutes.
      </li>
      <li class="question">What are the payment modes?</li>
      <li class="answer">At present we accept only Cash on Delivery.</li>
      <li class="question">What is your operation time?</li>
      <li class="answer">We operate from 9AM to 11PM for 365 days (Unless we have a natural calamity).
        However food availablity is upto the individual restaurant's holiday schedule.
      </li>
      <li class="question">One or many of the dishes delivered has gone bad. What should I do?</li>
      <li class="answer">
        We are committed to deliver the dishes from restaurants without any delay and ensure that they
        are hot and fresh, so this does not happen. But in exceptional cases we will refund your money.
      </li>
    </ul>
  </div>
</section>
