<section class="row user__location">
  <div class="medium-12 columns">
    <input type="text" placeholder="Enter your location..."/>
  </div>
</section>
<img src="/images/header1.jpg" class="header_img"/>
<section class="row search__container">
  <div class="medium-12 columns">
    <form #searchForm="ngForm">
    <label>
      <span class="inline-label">
        <input type="search" [ngModel]="searchText" [ngFormControl]="searchCtrl" placeholder="Restaurant or food name...">
        <button type="submit" class="button">Search</button>
      </span>
    </label>
    </form>
  </div>
  <div class="medium-12 columns filter__container">
    <label class="">
      Only Veg: <input type="checkbox" class="switch" (change)="search()" [(ngModel)]="onlyVeg" />
    </label>
  </div>
</section>
<section class="row" *ngIf="searchText == null || searchText.length == 0">
  <div class="medium-12 columns">
    <h3>Popular items</h3>
  </div>
</section>
<section class="row" *ngIf="searchText && searchText.length < 3">
  <div class="medium-12 columns">
    <div class="callout primary">
      <p>Atleast enter 3 letters to begin the search!</p>
    </div>
  </div>
</section>
<section class="row" *ngIf="searchText && searchText.length > 2 && submitted">
  <div class="medium-12 columns">
    <ul class="tabs">
      <li class="tabs-title" [class.active]="activeTab =='Restaurant'">
        <a (click)="activateTab('Restaurant')">Restaurants</a>
      </li>
      <li class="tabs-title" [class.active]="activeTab =='Product'">
        <a (click)="activateTab('Product')">Foods</a>
      </li>
    </ul>
    <div class="tabs-content">
      <div class="content" *ngIf="activeTab =='Restaurant'">
        <restaurants [restaurants]="restaurants"></restaurants>
      </div>
      <div class="content" *ngIf="activeTab =='Product'">
        <product-list [products]="products" (selectedProduct)="addToCart($event)"></product-list>
      </div>
    </div>
  </div>
</section>