<div class="callout alert" *ngIf="errorMsg != null">
  <h4>Oops! Something went wrong.</h4>
  {{errorMsg}}
</div>
<section class="row search__container">
  <div class="medium-12 small-12 columns end">
    <form #searchForm="ngForm">
    <div class="input-group">
      <span class="input-group-label show-for-medium">
        <i class="fa fa-home"></i> Puducherry
      </span>
      <i class="fa fa-search icon"></i>
      <input class="input-group-field" type="search"
          placeholder="Restaurant or dish or cuisine..."
          [ngModel]="searchText" [ngFormControl]="searchCtrl">
      <div class="input-group-button">
        <button type="submit" class="button">Search</button>
      </div>
    </div>
    </form>
  </div>
  <div class="medium-6 columns end">
    <i class="fa fa-filter"></i> Filter:
    <label class="lblOV">
      Veg:
      <input #lblOV type="checkbox" [checked]="onlyVeg"
       (change)="onlyVeg=lblOV.checked;search()">
    </label>
    <label class="lblOO">
      Open:
      <input #lblOO type="checkbox" [checked]="onlyOpen"
       (change)="onlyOpen=lblOO.checked;search()">
    </label>
  </div>
</section>
<section class="row" *ngIf="searchText == null || searchText.length == 0">
  <div class="medium-12 small-12 columns end">
    <h3>Popular items</h3>
  </div>
</section>
<section class="row" *ngIf="searchText && searchText.length < 3">
  <div class="medium-12 small-12 columns end">
    <div class="callout primary">
      <p>Atleast enter 3 letters to begin the search!</p>
    </div>
  </div>
</section>
<section class="row" *ngIf="isRequesting">
  <div class="medium-12 columns">
    <my-spinner [isRunning]="isRequesting"></my-spinner>
  </div>
</section>
<section class="row" *ngIf="searchText && searchText.length > 2 && !isRequesting">
  <div class="medium-12 small-12 columns end">
    <ul class="tabs">
      <li class="tabs-title" [class.active]="activeTab =='Restaurant'">
        <a (click)="activateTab('Restaurant')">Restaurants</a>
      </li>
      <li class="tabs-title" [class.active]="activeTab =='Product'">
        <a (click)="activateTab('Product')">Dishes</a>
      </li>
    </ul>
    <div class="tabs-content">
      <div class="content" *ngIf="activeTab =='Restaurant'">
        <restaurants [restaurants]="restaurants"></restaurants>
      </div>
      <div class="content" *ngIf="activeTab =='Product'">
        <product-list [products]="products" (selectedProduct)="addToCart($event)"></product-list>
      </div>
    </div>
  </div>
</section>
