<!--<section class="row user__location">
  <div class="medium-12 columns">
    <input type="text" placeholder="Enter your location..."/>
  </div>
</section>-->
<!--<img src="/images/header1.jpg" class="header_img"/>-->
<section class="row search__container">
  <div class="medium-12 small-12 columns end">
    <form #searchForm="ngForm">
    <div class="input-group">
      <span class="input-group-label show-for-medium">
        <i class="fi-home"></i> Puducherry
      </span>
      <input class="input-group-field" type="search"
          placeholder="Restaurant or dish or cuisine..."
          [ngModel]="searchText" [ngFormControl]="searchCtrl">
      <div class="input-group-button">
        <button type="submit" class="button">Search</button>
      </div>
    </div>
    </form>
  </div>
  <div class="medium-3 columns end">
    <i class="fi-filter"></i> Only Veg:
    <div class="switch tiny">
      <input class="switch-input" id="onlyVeg" type="checkbox"
       (change)="search()" [(ngModel)]="onlyVeg" name="onlyVeg">
      <label class="switch-paddle" for="onlyVeg">
        <span class="show-for-sr">Only Veg:</span>
      </label>
    </div>
  </div>
</section>
<section class="row" *ngIf="searchText == null || searchText.length == 0">
  <div class="medium-12 small-12 columns end">
    <h3>Popular items</h3>
  </div>
</section>
<section class="row" *ngIf="searchText && searchText.length < 3">
  <div class="medium-12 small-12 columns end">
    <div class="callout primary">
      <p>Atleast enter 3 letters to begin the search!</p>
    </div>
  </div>
</section>
<section class="row" *ngIf="searchText && searchText.length > 2 && submitted">
  <div class="medium-12 small-12 columns end">
    <ul class="tabs">
      <li class="tabs-title" [class.active]="activeTab =='Restaurant'">
        <a (click)="activateTab('Restaurant')">Restaurants</a>
      </li>
      <li class="tabs-title" [class.active]="activeTab =='Product'">
        <a (click)="activateTab('Product')">Dishes</a>
      </li>
    </ul>
    <div class="tabs-content">
      <div class="content" *ngIf="activeTab =='Restaurant'">
        <restaurants [restaurants]="restaurants"></restaurants>
      </div>
      <div class="content" *ngIf="activeTab =='Product'">
        <product-list [products]="products" (selectedProduct)="addToCart($event)"></product-list>
      </div>
    </div>
  </div>
</section>