<div class="callout warning" *ngIf="products == null || products.length == 0">
  <h3>Oops! No dishes found</h3>
  <p>You might have misspelled or try again!</p>
</div>
<div class="card" *ngFor="let product of products;">
  <img src="/images/food-turkey.jpg" />
  <div class="card-section align-center">
    <div class="center__container">
      <i class="veg__icon" [class.green]="product.isVeg()" [class.brown]="!product.isVeg()"></i>
    </div>
    <ul class="cuisines light">
      <li *ngFor="let cus of product.cuisines">
        <span class="cusines">{{cus}}</span>
      </li>
    </ul>
    <h4 class="dark">
      {{product.name}}
    </h4>
    <p class="show-for-medium">{{product.description}}</p>
    <span class="price_tag rupee light">{{product.sell_price}}</span>
  </div>
  <div class="card-action align-center">
    <button type="button" (click)="select(product,$event)"
     popover="Added to cart!"
     popoverTitle=""
     popoverPlacement="top"
     [popoverOnHover]="false"
     [popoverCloseOnClickOutside]="true"
     [popoverCloseOnMouseOutside]="false"
     [popoverDisabled]="false"
     [popoverAnimation]="true"
     [disabled]="!product.isAvailable()" class="button add-to-cart">
      <i class="fi-plus"></i> Add
    </button>
  </div>
</div>