<div class="callout warning" *ngIf="products == null || products.length == 0">
  <h3>Oops! No food items found</h3>
  <p>You might have misspelled or try again!</p>
</div>
<div class="row" *ngFor="let chunkItems of products | chunk: 3">
  <div class="card medium-4 columns" [class.end]="isLast" *ngFor="let product of chunkItems;let isLast=last;">
    <img src="/images/header4.jpg" />
    <div class="card-divider">
      <h4>
        {{product.name}}
        <span class="price_tag">
          Rs. {{product.sell_price}}
        </span>
      </h4>
    </div>
    <div class="card-section">
      <p>{{product.description}}</p>
    </div>
    <ul class="cuisines">
      <li *ngFor="let cus of product.cuisines">
        <span class="cusines">{{cus}}</span>
      </li>
    </ul>
    <div class="card-action">
      <a (click)="select(product,$event)" class="expand button add-to-cart">
        <i class="fi-plus"></i> Add
      </a>
    </div>
  </div>
</div>