<img src="/images/header1.jpg" class="header_img"/>
<h2>Restaurants</h2>
<ul class="restaurants">
  <li *ngFor="let item of restaurants"
    [class.selected]="item === selectedRestaurant"
    (click)="onSelect(item)">
    <div class="row">
      <div class="small-3 columns">
        <img src="/images/placeholder.png" alt="Comming soon..." class="res_logo"/>
      </div>
      <div class="small-9 columns">
        <h3 class="title">
          {{item.name}}
          <span class="rating">
            <label class="secondary label">{{item.rating || 3.5}}</label>
          </span>
        </h3>
        <!-- <div class="telephone"><i class="fi-telephone"></i> {{item.phone}}</div> -->
        <div class="timings">
          <span><i class="fi-clock"></i> {{item.open_time}} AM to {{item.close_time}} PM</span>
        </div>
        <ul class="cuisines">
          <li *ngFor="let cus of item.cuisines">
            <span class="cusines">{{cus}}</span>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
