<div class="callout alert" *ngIf="errorMsg != null">
  <h4>Oops! Something went wrong.</h4>
  {{errorMsg}}
</div>
<div *ngIf="restaurant">
  <section class="row">
    <div class="medium-12 small-12 columns end">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a (click)="goBack('Home', $event)">Home</a></li>
          <!--<li><a (click)="goBack('RestaurantList', $event)">Restaurants</a></li>-->
          <li>
            <span class="show-for-sr">Current:</span>{{restaurant.name}}
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <!--<img src="/images/header2.jpg" alt="Pic" class="header_img"/>-->
  <section class="row">
    <div class="medium-12 small-12 columns end">
      <h3 class="title dark">
        {{restaurant.name}}
        <span class="rating">
          <label class="secondary label">{{restaurant.rating || 3.5}}</label>
        </span>
      </h3>
      <div class="address"><i class="fi-marker"></i> {{restaurant.address}}</div>
      <!-- <div class="telephone"><i class="fi-telephone"></i> {{restaurant.phone}}</div> -->
      <div class="timings">
        <span><i class="fi-clock"></i> {{restaurant.open_time}} AM to {{restaurant.close_time}} PM</span>
      </div>
      <ul class="cuisines">
        <li *ngFor="let cus of restaurant.cuisines">
          <span class="cusines">{{cus}}</span>
        </li>
      </ul>
    </div>
  </section>
  <br/>
  <section class="products">
    <div class="row filter__container">
      <div class="small-3 medium-2 columns">
        Only Veg:
      </div>
      <div class="small-9 medium-10 columns">
        <div class="switch tiny">
          <input class="switch-input" id="onlyVeg" type="checkbox"
          (change)="filter()" [(ngModel)]="onlyVeg" name="onlyVeg">
          <label class="switch-paddle" for="onlyVeg">
            <span class="show-for-sr">Only Veg:</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 small-12 columns end">
        <tabs>
          <tab tabTitle="{{category.name}}" *ngFor="let category of categories">
            <product-list [products]="category.products"
              (selectedProduct)="addToCart($event)"></product-list>
          </tab>
        </tabs>
      </div>
    </div>
  </section>
</div>
