.contact__page {
  background: #3E50B4;
  color: white;
  text-align: center;
  padding: 10px 30px;
  padding-top: 120px;
  height: 100%;
}
.contact__page h3 {
  font-weight: 300;
}
.contact__page h1 {
  font-weight: 400;
}
.contact__page a {
  color: white;
}
.contact__page .social__icons {
  margin-top: 25px;
}
.contact__page .social__icons ul {
  margin: 0 auto;
  list-style: none;
}
.contact__page .social__icons ul li {
  display: inline-block;
  margin: 0 6px 12px;
}
.contact__page .social__icons ul li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background: #4389FE;
  font-size: 26px;
  padding: 13px;
  width: 51px;
}
