header, nav {
  margin: 0 auto;
  user-select: none;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

header {
  padding: 10px 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #2F3E9E;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 70px;
}
header a {
  line-height: 1.75em;
  text-decoration: none;
  color: white;
}
header a:hover {
  color: white;
}
header .logo {
  float: left;
}
header .logo a {
  z-index: 9;
  position: relative;
  text-align: center;
  display: block;
  width: 7em;
  font-size: 28px;
}
header .logo a:hover {
  color: white;
}
header label {
  float: right;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
  z-index: 100;
  color: #aaa;
  line-height: 3.5em;
  cursor: pointer;
  width: 8em;
}
header label:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
header label[for="cart-summary"] a, header label[for="track"] a {
  line-height: 3.5em;
  display: block;
}
header label[for="cart-summary"] .rupee, header label[for="track"] .rupee {
  position: relative;
  right: 5px;
}
header label[for="cart-summary"] .badge, header label[for="track"] .badge {
  line-height: 1.2em;
  font-style: normal;
  top: -10px;
  position: relative;
  min-width: 1.6em;
  left: -6px;
}
