.track__order__page ul {
  margin: 0 auto;
  list-style: none;
  width: 100%;
  text-align: center;
}
.track__order__page ul li {
  display: inline-block;
  margin: 10px 45px;
  line-height: 4em;
  color: #607d8b;
}
.track__order__page ul li i {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 5em;
  display: block;
}
.track__order__page ul li.progress {
  color: #fbc53c;
  height: auto;
  background-color: transparent;
}
.track__order__page ul li.done {
  color: #55b559;
}
