<div class="callout warning" *ngIf="isEmpty() && !isRequesting">
  <h3>Oops! No restaurants found</h3>
  <p>You might have misspelled or try again!</p>
</div>
<div class="restaurants" *ngIf="!isEmpty() && !isRequesting">
  <div class="row" *ngFor="let restaurant of responseData.items"
  [class.selected]="restaurant === selectedRestaurant">
    <div class="medium-3 columns show-for-medium">
      <img src="{{restaurant.getImage() || '/images/placeholder.png'}}" alt="{{restaurant.name}}"
        [class.res_logo]="!restaurant.getImage()"/>
    </div>
    <div class="medium-9 columns light content end">
      <h3 class="title">
        <a class="dark" (click)="onSelect(restaurant)">{{restaurant.name}}</a>
        <span class="rating" title="Rating not available!">
          <!--<label class="secondary label">{{restaurant.getRating()}}</label>-->
          <i class="fa fa-star-o"></i>
        </span>
      </h3>
      <div class="address"><i class="fa fa-map-marker"></i> {{restaurant.address}}</div>
      <!-- <div class="telephone"><i class="fa fa-telephone"></i> {{restaurant.phone}}</div> -->
      <div class="timings">
        <span><i class="fa fa-hourglass-o"></i>
          {{restaurant.open_time.toFixed(2)}} AM to {{restaurant.close_time.toFixed(2)}} PM
          <span class="light green" *ngIf="!restaurant.isHoliday() && restaurant.isOpen()">(Open)</span>
          <span class="light red" *ngIf="!restaurant.isHoliday() && restaurant.isClosed()">
            (Closed?)
          </span>
          <span class="light red" *ngIf="restaurant.isHoliday()">(Holiday)</span>
        </span>
      </div>
      <div class="show-for-medium">
        <ul class="cuisines">
          <li *ngFor="let cus of restaurant.cuisines">
            <span class="cusines">{{cus}}</span>
          </li>
        </ul>
      </div>
      <div class="light show-for-small-only">
        <small>
          Cuisines: {{restaurant.cuisines.join(', ')}}
        </small>
      </div>
      <div class="">
        <button type="button" class="button"
          (click)="onSelect(restaurant)"
          [class.green]="!restaurant.isHoliday() && restaurant.isOpen()"
          [class.red]="restaurant.isClosed() || restaurant.isHoliday()">
          View Menu
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="responseData.total > 0" class="pagination__container">
    <div class="pagination previous" [class.disabled]="!responseData.previous">
      <a (click)="responseData.previous && doPaginate(responseData.previous)">
        <i class="fa fa-angle-left"></i>
      </a>
    </div>
    <div class="pagination next" [class.disabled]="!responseData.next">
      <a (click)="responseData.next && doPaginate(responseData.next)">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
