<div class="content-wrapper ng-fadeInUp" ng-class="app.viewAnimation" autoscroll="false"
     ng-controller="smsCtrl">
  <h3>
      Manage Sent SMS
  </h3>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          Show OTP Messages: <input type="checkbox" ng-change="reset()" ng-model="is_otp" name="is_otp"/>
          Page No: {{page_no}} of {{page_count}} Total: {{total}}
          <a href="" ng-click="navigate(previous)" ng-if="previous">Previous</a>
          <a href="" ng-click="navigate(next)" ng-if="next">Next</a>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <th>Date</th>
            <th>Phone</th>
            <th ng-if="!is_otp">Type</th>
            <th>Message</th>
            <th>Status</th>
            <th class="text-center">Remove</th>
            </thead>
            <tbody>
            <tr ng-repeat="item in messages" ng-class="{'text-danger': is_otp && item.status != 'VERIFIED'}">
              <td>{{item.created_at | datetime}}</td>
              <td>{{item.number}}</td>
              <td ng-if="!is_otp">{{item.type}}</td>
              <td>
                Id: {{item.aws_msg_id || 'NA'}}<br/>
                {{item.message}}
              </td>
              <td>
                {{item.status}}
              </td>
              <td class="text-center">
                <a href="" ng-click="remove(item._id.$oid)"
                  title="Click to remove"><em class="fa fa-ban"></em></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
