{% extends 'layout.jinja2'%}
{% block body %}
<div ng-app="fbeaztApp">
    <div class="pull-left col-md-9">
        <div ng-view></div>
    </div>
    <div class="pull-right col-md-3" ng-include="'/static/templates/cart_list.html'"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>
    $(function(){
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
{% endblock %}