{% extends 'layout.jinja2'%}
{% block body %}
<div class="row">
    <div class="medium-12 columns">
        <div ng-view></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}