<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="description" content="Online food delivery network at Puducherry"/>
    <meta name="metatags"
          content="puducherry, food, dinner, lunch, breakfast, restaurants, cooking, recipes, briyani, pizza, online food at pondy, online food"/>
    <meta name="author" content="foodbeazt.in"/>

    <title>FoodBeazt</title>

    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
    {% block head_scripts %}
    {% endblock %}
</head>

<body>
<div class="wrapper" ng-app="fbeaztApp">
    <header class="banner">
        <div class="row">
            <div class="medium-10 columns">
                <a href="/beta">
                    <img src="{{ url_for('static', filename='img/logo.png') }}"/>
                </a>
            </div>
            <div class="medium-2 columns shopping_cart_header">
                <span ng-bind-html="cart.total | currency"></span>
            </div>
        </div>
        <div class="row shopping_cart">
            <div class="medium-3 columns">&nbsp;</div>
            <div class="medium-4 columns">{{_("Your Cart")}}</div>
            <div class="medium-5 columns" ng-include="'/static/templates/cart_list.html'"></div>
        </div>
    </header>

    <div class="breadcrumbs__bg">
        <div class="row">
            <ul class="breadcrumbs">
                <li>{{_("Starters")}}</li>
                <li>{{_("Main Course")}}</li>
                <li>{{_("Deserts")}}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="medium-12 columns">
            {% block body %}
            {% endblock %}
        </div>
    </div>

</div>
<!-- Core JavaScript Files -->
<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-route.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-cookies.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-sanitize.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-resource.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-messages.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/checklist-model.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/lodash.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ga.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
{% block scripts %}
{% endblock %}
</body>

</html>
