<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="description" content="Online food delivery network at Puducherry"/>
    <meta name="metatags"
          content="puducherry, food, dinner, lunch, breakfast, restaurants, cooking, recipes, briyani, pizza, online food at pondy, online food"/>
    <meta name="author" content="foodbeazt.in"/>

    <title>FoodBeazt</title>

    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
    {% block head_scripts %}
    {% endblock %}
</head>

<body>
<div class="wrapper" ng-app="fbeaztApp">
     <header class="header" ng-controller="cartCtrl">
        <div class="row">
            <div class="medium-3 small-4 columns header__logo">
                <a href="/beta">
                    <img src="{{ url_for('static', filename='img/logo.png') }}"/>
                </a>
            </div>
            <div class="medium-9 small-8 columns text-right end">
                <div id="js-shopping-cart-header" class="header__total" ng-show="canShowCartHeader()">
                    <span class="icon__shopping_cart">
                        <i class="fa fa-shopping-cart"></i>
                        <div class="cart_items alert round label" ng-bind-html="cart.items.length"></div>
                    </span>
                    <span ng-show="cart.items.length > 0" ng-bind-html="cart.total | currency"></span>
                    <span class="cart-empty-msg" ng-show="cart.items.length == 0">{{_("Cart is empty!")}}</span>
                </div>
            </div>
        </div>

        <div class="header__cart hide" id="js-shopping-cart-details">
            <div class="row">
                <div class="medium-3 columns cart__title">
                    {{_("Your cart")}}
                </div>
                <div class="medium-9 columns cart__line-items" ng-include="'/static/templates/cart_list.html'"></div>
            </div>
        </div>

        <nav class="header__progress" aria-label="breadcrumb" role="navigation">
            <div class="row">
                <div class="large-10 medium-9 small-7 columns" ng-include="'/static/templates/progress_bar.html'">                    
                </div>
                <div class="large-2 medium-3 small-5 columns end">
                    <div class="checkout__button session continue" ng-show="canShowContinueBtn()">
                        <a ng-click="continueOrder()" href="#" onclick="return false;">
                            <i class="fa fa-check"></i>
                            {{_("Checkout")}}
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="main_wrapper">
        {% block body %}
        {% endblock %}
    </div>

</div>
<!-- Core JavaScript Files -->
<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-animate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-route.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-cookies.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-sanitize.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-resource.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/angular-messages.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/checklist-model.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/lodash.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ga.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script>
$(function(){
    $("#js-shopping-cart-header").click(function(){
        $(this).toggleClass("active");
        $("#js-shopping-cart-details").toggleClass("hide");
    });

    $(document).on('click', '.add-to-cart', function () {
        var cart = $('.icon__shopping_cart');
        var imgtodrag = $(this).parent('.product-item').find("img").eq(0);
        if (imgtodrag) {
            var imgclone = imgtodrag.clone()
            .offset({
                top: imgtodrag.offset().top,
                left: imgtodrag.offset().left
            })
            .css({
                'opacity': '0.5',
                'position': 'absolute',
                'height': '150px',
                'width': '150px',
                'z-index': '100'
            })
            .appendTo($('body'))
            .animate({
                'top': cart.offset().top + 10,
                'left': cart.offset().left + 10,
                'width': 75,
                'height': 75
            }, 700, 'easeInOutExpo');

            setTimeout(function () {
                cart.effect("pulsate", {
                    times: 2
                }, 100, function(){
                    cart.fadeIn();
                });
            }, 900);

            imgclone.animate({
                'width': 0,
                'height': 0
            }, function () {
                $(this).detach();
            });
        }
    });
});
</script>
{% block scripts %}
{% endblock %}
</body>

</html>
