<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="description" content="Online food delivery network at Puducherry"/>
    <meta name="metatags"
          content="puducherry, food, dinner, lunch, breakfast, restaurants, cooking, recipes, briyani, pizza, online food at pondy, online food"/>
    <meta name="author" content="foodbeazt.in"/>

    <title>FoodBeazt</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/heroic-features.css') }}" rel="stylesheet">
    {% block head_scripts %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" ><a href="/beta"> <img src="{{ url_for('static', filename='img/logo.png') }}" style="margin:-14px;"/> </a></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
            <ul class="nav navbar-nav">
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       Restaurants
                       <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                       <li><a href="#">Veg</a></li>
                       <li><a href="#">Non-Veg</a></li>
                       <li class="divider"></li>
                       <li><a href="#">3-Star Restaurants</a></li>
                       <li><a href="#">2-Star Restaurants</a></li>
                       <li><a href="#">Moderate Restaurants</a></li>
                       <li><a href="#">Normal Restaurants</a></li>
                       <li><a href="#">Fast Food</a></li>
                       <li class="divider"></li>
                       <li><a href="#">Bakery</a></li>
                    </ul>
                </li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Cuisines
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">North Indian</a></li>
                        <li><a href="#">South Indian</a></li>
                        <li><a href="#">Chinese</a></li>
                        <li><a href="#">Italian </a></li>
                        <li><a href="#">Tandoori</a></li>
                        <li><a href="#">Desserts</a></li>
                        <li><a href="#">Briyani</a></li>
                        <li><a href="#">Pizza</a></li>
                    </ul>
                </li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Register</a></li>
              <li><a href="#">Login</a></li>
            </ul>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

  <!-- HEADER
=================================-->
<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12 col-sm-12">
                <h2 style="color:#2d3033;">Order food online from various restaurants in Puducherry</h2>
                <form role="form" ng-submit="search(true)">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span id="search_concept">Select Category </span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#restaurants">North Indian Meals</a></li>
                                    <li><a href="#cuisines">South Indian Meals</a></li>
                                    <li><a href="#home_delivery">Briyani</a></li>
                                    <li><a href="#pickup">Fried Rice</a></li>
                                    <li><a href="#pickup">Noodles</a></li>
                                    <li><a href="#pickup">Starters</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="all" id="search_param">
                            <input type="text" class="form-control" ng-model="filter_text" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
<!-- /header container-->


<div class="container">
    {% block body %}
    {% endblock %}
</div>

<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; FoodBeazt 2014</p>
        </div>
    </div>
</footer>

<!-- Core JavaScript Files -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-route.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-cookies.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-sanitize.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-resource.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-messages.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/checklist-model.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ga.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
{% block scripts %}
{% endblock %}
</body>

</html>
