<!DOCTYPE html PUBLIC "">
<html xmlns="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Order Confirmation</title>

    <style type="text/css">
    </style>
</head>
<body style="margin-left:10px;">
<div style="text-align:center;">
    <h1>FoodBeazt - Order Confirmation</h1>
</div>
<p>
   <b>Dear {{order['customer']['name']}}</b>
</p>
<p>
    Thank you for Shopping at Foodbeazt.in<br/>
    we would like to confirm that we have received your purchase for your order <i>{{order['order_no']}}</i>
</p>
<table>
    <tr>
        <th class="cell header">Item Name</th>
        <th class="cell header" style="text-align:right;">Price</th>
        <th class="cell header" style="text-align:right;">Total</th>
    </tr>
    {% for item in order['items'] %}
    <tr>
        <td class="cell">{{item['name']}}</td>
        <td class="cell" style="text-align:right;">{{item['sell_price']}}</td>
        <td class="cell" style="text-align:right;">{{item['quantity'] * item['sell_price']}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td class="cell" colspan="2" style="text-align:right;padding:5px;font-weight:bold;"> Delivery Charges</td>

        <td class="cell" style="text-align:right;">{{order['delivery_charges']}}</td>
    </tr>
    <tr>
        <td class="cell" colspan="2" style="text-align:right;padding:5px;font-weight:bold;"> Grand Total</td>

        <td class="cell" style="text-align:right;">{{order['total']}}</td>
    </tr>
</table>

<div>
    <h3>Delivery Address:</h3>
    <p>
        Name: {{order['customer']['name']}}<br/>
        Address: {{order['customer']['street']}},<br/>
        {{order['customer']['area']}},<br/>
        {{order['customer']['landmark']}},<br/>
        {{order['customer']['pincode']}}<br/>
        Phone: {{order['customer']['phone']}}<br/>
    </p>
</div>

<div style="border-top:1px solid #333333;">
    For any queries call to us on 7373730484 or write to us at foodbeazt@gmail.com<br/></p>
</div>

</body>
</html>