<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>FoodBeazt Admin :: Logout</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin_custom.css')}}">
    <!-- Fonts -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <section>
          <h1>You have successfully logged out of the FoodBeazt application!!</h1>
          <p>
            <a href="/login">Click here</a> to sigin again.
          </p>
        </section>
    </div>
</body>

</html>
